services:
  postgres:
    image: postgres:${PG_VERSION}
    command: ["postgres", "-c", "log_statement=all"]
    restart: always
    environment:
      POSTGRES_DB: "${LACI_POSTGRES_DB}"
      POSTGRES_USER: "${LACI_POSTGRES_USER}"
      POSTGRES_PASSWORD: "${LACI_POSTGRES_PASSWORD}"
    volumes:
      - postgresql:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${LACI_POSTGRES_USER} -d ${LACI_POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
  web:
    image: docker.io/jonasal/nginx-certbot:6
    restart: unless-stopped
    volumes:
      - ./configs/conf.d:/etc/nginx/user_conf.d:ro
      - letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    environment:
      CERTBOT_EMAIL: "${CERTBOT_EMAIL}"
  redis:
    image: redis:8
    command: [sh, -c, "rm -f /data/dump.rdb && redis-server --save \"\" --appendonly no --requirepass ${LACI_REDIS_PASSWORD}"]
    volumes:
      - rediscache:/data

  laci-server:
    image: ghcr.io/lacisynchroni/server:${LACI_VERSION}
    restart: on-failure
    environment:
      LaciSynchroni__ServerName: "${LACI_SERVER_NAME}"
      LaciSynchroni__ServerPublicUri: "${LACI_PUBLIC_URI}"
      LaciSynchroni__CdnFullUrl: "${LACI_CDNURL}"
      LaciSynchroni__Jwt: "${LACI_JWT}"
      LaciSynchroni__JwtKeyId: "${LACI_JWT_KEY_ID}"
      LaciSynchroni__RedisConnectionString: "redis,password=${LACI_REDIS_PASSWORD}"
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=${LACI_POSTGRES_DB};Username=${LACI_POSTGRES_USER};Password=${LACI_POSTGRES_PASSWORD};Keepalive=15;Minimum Pool Size=10;Maximum Pool Size=50;No Reset On Close=true;Max Auto Prepare=50;Enlist=false"
      DOTNET_USE_POLLING_FILE_WATCHER: 1
    volumes:
      - ./configs/server.json:/opt/LaciSynchroni/Server/appsettings.json
      - ./configs/base.json:/opt/LaciSynchroni/Server/base.appsettings.json
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "bash", "-c", "exec 3<>/dev/tcp/localhost/6000;echo -e \"GET /health HTTP/1.1\r\nhost: localhost:6000\r\nConnection: close\r\n\r\n\" >&3;grep \"HTTP/1.1 200 OK\" <&3"]
      retries: 60
      start_period: 10s
      timeout: 1s

  laci-services:
    image: ghcr.io/lacisynchroni/services:${LACI_VERSION}
    restart: on-failure
    environment:
      LaciSynchroni__DiscordBotToken: "${LACI_DISCORD_TOKEN}"
      LaciSynchroni__Jwt: "${LACI_JWT}"
      LaciSynchroni__JwtKeyId: "${LACI_JWT_KEY_ID}"
      LaciSynchroni__RedisConnectionString: "redis,password=${LACI_REDIS_PASSWORD}"
      LaciSynchroni__DiscordChannelForCommands: "${LACI_DISCORD_SELF_SERVICE_CHANNEL_ID}"
      LaciSynchroni__DiscordChannelForBotLog: "${LACI_DISCORD_BOT_LOG_CHANNEL_ID}"
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=${LACI_POSTGRES_DB};Username=${LACI_POSTGRES_USER};Password=${LACI_POSTGRES_PASSWORD};Keepalive=15;Minimum Pool Size=10;Maximum Pool Size=50;No Reset On Close=true;Max Auto Prepare=50;Enlist=false"
      DOTNET_USE_POLLING_FILE_WATCHER: 1
    volumes:
      - ./configs/services.json:/opt/LaciSynchroni/Services/appsettings.json
      - ./configs/base.json:/opt/LaciSynchroni/Services/base.appsettings.json
    depends_on:
      laci-server:
        condition: service_healthy
      postgres:
        condition: service_healthy

  laci-auth:
    image: ghcr.io/lacisynchroni/authservice:${LACI_VERSION}
    restart: on-failure
    environment:
      LaciSynchroni__PublicOAuthBaseUri: "${LACI_PUBLIC_OAUTH_BASE_URI}"
      LaciSynchroni__DiscordOAuthClientSecret: "${LACI_DISCORD_OAUTH_CLIENT_SECRET}"
      LaciSynchroni__DiscordOAuthClientId: "${LACI_DISCORD_OAUTH_CLIENT_ID}"
      LaciSynchroni__Jwt: "${LACI_JWT}"
      LaciSynchroni__JwtKeyId: "${LACI_JWT_KEY_ID}"
      LaciSynchroni__RedisConnectionString: "redis,password=${LACI_REDIS_PASSWORD}"
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=${LACI_POSTGRES_DB};Username=${LACI_POSTGRES_USER};Password=${LACI_POSTGRES_PASSWORD};Keepalive=15;Minimum Pool Size=10;Maximum Pool Size=50;No Reset On Close=true;Max Auto Prepare=50;Enlist=false"
      DOTNET_USE_POLLING_FILE_WATCHER: 1
    volumes:
      - ./configs/authservice.json:/opt/LaciSynchroni/AuthService/appsettings.json
      - ./configs/base.json:/opt/LaciSynchroni/AuthService/base.appsettings.json
    depends_on:
      laci-server:
        condition: service_healthy
      postgres:
        condition: service_healthy

  laci-files:
    image: ghcr.io/lacisynchroni/staticfilesserver:${LACI_VERSION}
    restart: on-failure
    # This enables full access on the mod_file_cache
    environment:
      LaciSynchroni__CdnFullUrl: "${LACI_CDNURL}"
      LaciSynchroni__Jwt: "${LACI_JWT}"
      LaciSynchroni__JwtKeyId: "${LACI_JWT_KEY_ID}"
      LaciSynchroni__RedisConnectionString: "redis,password=${LACI_REDIS_PASSWORD}"
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=${LACI_POSTGRES_DB};Username=${LACI_POSTGRES_USER};Password=${LACI_POSTGRES_PASSWORD};Keepalive=15;Minimum Pool Size=10;Maximum Pool Size=50;No Reset On Close=true;Max Auto Prepare=50;Enlist=false"
      DOTNET_USE_POLLING_FILE_WATCHER: 1
    volumes:
      - ./configs/files.json:/opt/LaciSynchroni/StaticFilesServer/appsettings.json
      - ./configs/base.json:/opt/LaciSynchroni/StaticFilesServer/base.appsettings.json
      - mod_file_cache:/laci-cache/:rw
    depends_on:
      postgres:
        condition: service_healthy
      laci-server:
        condition: service_healthy
  pgbackups:
    image: docker.io/prodrigestivill/postgres-backup-local:18
    restart: unless-stopped
    volumes:
      - ./pg-backups:/backups
    links:
      - postgres
    depends_on:
      - postgres
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DB: "${LACI_POSTGRES_DB}"
      POSTGRES_USER: "${LACI_POSTGRES_USER}"
      POSTGRES_PASSWORD: "${LACI_POSTGRES_PASSWORD}"
      POSTGRES_EXTRA_OPTS: "--format=custom"
      SCHEDULE: "@daily"
      BACKUP_ON_START: "TRUE"
      BACKUP_KEEP_DAYS: 30
      BACKUP_KEEP_WEEKS: 4
      BACKUP_KEEP_MONTHS: 6
      HEALTHCHECK_PORT: 8080
volumes:
  rediscache:
    driver: local
  postgresql:
  mod_file_cache:
  letsencrypt: